.nav {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #f8f9fa;
}

.nav .NavLink {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.NavLink.Active {
    color: red;
}





